html, body { height: 100%; width: 100%; background-color: #f4f4f4;	}

h1, h2, h3, h4, h5, h6 {font-family: Montserrat;font-weight: 400;}

h1{font-size: 28px;}

hr{border-top: 1px solid #eeeeee; border-bottom: 1px solid white;}

hr-default {margin-left: 0; margin-right: 0; }
 
#page { min-height: 100%; position: relative; width: 100%;}

#leftmenu{ z-index: 1; position: absolute; width: 250px; background-color: #f4f4f4; border-top: none; }
    
#leftmenu li {border-top: 1px solid #e7e7e7;}

.nav>li>a:hover, .nav>li>a:focus,
.nav .open > a:FOCUS, .nav .open > a:ACTIVE { text-decoration: none; background-color: inherit; }

#menu-droped{border-radius:0;}

#leftmenu li > a {position: relative; font-family:"Varela Round", sans-serif; font-size:15px; color: #222222 !important;
border-bottom: 1px solid white; -o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s}

#leftmenu li >a:HOVER{ background-color: #fff; padding-left: 18px;}

#leftmenu li > a > i { color: #6e6e6e; 
-o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s; }

#leftmenu li > a:HOVER > i{color: #e74c3c;}

#main-content {background-color: #fbfbfb; border-left:1px solid #dddddd; border-bottom:1px solid #e7e7e7; }

#content-header{border-bottom-color: #dddddd; padding: 0 15px; margin-top: 0; min-height: 85px; 
				margin-left: -15px; margin-right: -15px; position: relative; margin-bottom: 30px;
				background: white; border-bottom: 1px solid #d6d6d6 }
				
#content-header i {color: #e74c3c;}

footer{ width: 100%; bottom: 0;}
		
footer p {padding: 10px 15px;}

/* ======================================================= */
@media (min-width: 1200px){ } 

/* Higher than 960 (desktop devices)
====================================================================== */
@media only screen and (min-width: 980px) and (max-width: 1199px){ }

@media only screen and (min-width: 768px){
	#main-content{ 	position: inherit; 	margin: 0 0 0 250px; /*padding: 0 30px*/	; min-height: 600px;}	
}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 979px) {}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 991px) { #leftmenu{width: 46px;} 
	#leftmenu li > a > span { display: none;}										
	#main-content{margin-left: 46px;}}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) { } 
