#datetimepicker .add-on i {cursor: pointer;}

@media only screen and (max-width: 991px) { 
.form-inline div { margin: 0; padding:0; }

.btn{max-width: 114px; }

#scheduler_here, #scheduler_here:before, scheduler_here:after {
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}
		
.jumbotron {
	line-height: normal;
}

}
