
table { margin:2em 0; border-collapse:collapse; }
th, td { padding:0.4em; border:1px solid #ccc; }

#servicos-chart th { width:5em; text-align:center; }
#servicos-chart td { height:12em; text-align:center; }
#servicos-chart span { padding:1px 2px; background:#fff; }

#servicos-chart-2 th { width:5em; text-align:center; }
#servicos-chart-2 td { height:12em; text-align:center; }
#servicos-chart-2 span { padding:1px 2px; background:#fff; }

.title{color:black;}
