.form{ margin-bottom: 0;}

.form-actions { background-color: #f4f4f4; padding: 20px; border-top: 1px solid #e5e5e5; margin-top: 20px; }

 @media (min-width: 768px) { .form-actions {  padding: 20px 0; } }
  
 .form-actions.form-actions-padding { padding: 20px; }
  
 @media (max-width: 767px) { .form-actions.form-actions-padding-xs {  padding: 20px; }}
  
 @media (min-width: 768px) and (max-width: 991px) { .form-actions.form-actions-padding-sm { padding: 20px; } }
  
 @media (min-width: 992px) and (max-width: 1199px) { .form-actions.form-actions-padding-md { padding: 20px; } }
 
 @media (min-width: 1200px) {.form-actions.form-actions-padding-lg {padding: 20px; } }
 
 .btn { border-radius : 0; background-color: whitesmoke; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); } 
 
 .btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}

.btn:hover{background-color: #c5c5c5 !important;}
 
 .btn-primary {background-color: #00acec !important;}
 .btn-primary:hover{background-color: #00658a !important;}
  
  
.form-control:focus { border-color: #aaaaaa; -webkit-box-shadow: 0 0 8px #dce1e5;-moz-box-shadow: 0 0 8px #dce1e5;
box-shadow: 0 0 8px #dce1e5;}

.form-control {border-radius : 0;}

