.navbar {
	background-color: #e74c3c;
	border-radius: 0;
	min-height: 60px;
	font-size: 18px;
	font-family: "Varela Round", sans-serif;
	color:#fff;
	margin-bottom: 1px;
	border: none;
}

.navbar a{
	color: inherit;
}

.nav > li.dropdown > .dropdown-toggle .caret {
	border-top-color: white;
	border-bottom-color: white;
}

.manager{
	font-family: "Consolas";
	font-size: 22px;
	color: #fff;
}

.beauty{ font-family: "Satisfy", cursive; font-size: 21px; }

#drop-menu li a{ padding: 15px 15px; }

#menu-droped li a {padding: 3px 20px;;}