html, html .halflings {
-webkit-font-smoothing: antialiased !important;
}

* {
    margin: 0;
}

html{
    overflow-y: scroll;
    height: 100%;
    margin: 0px auto;
    padding: 0;
}

body {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 20px;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -24px; /* the bottom margin is the negative value of the footer's height */
}

.push{
     min-height: 24px;
}

.push {
    height: 142px; /* .push must be the same height as .footer */
}

.hiddenArea
{
    display: none;
}

.opaqueLayer
{
    filter: alpha(opacity=50) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)" !important;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

h2 {
font-size: 16px;
line-height: 16px;
}


.container-fluid{
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.sidebar-nav > ul {
    padding-bottom: 1px;
    font-size: 14px;
}

.nav-tabs.nav-stacked > li:first-child > a {
    margin: 0px 0px 0px 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > ul > li > a {
    padding: 15px 10px 14px 10px;
    color: #fff;
    border-top: none;
    border-bottom: 1px solid #666;
    border-left: none;
    border-right: none;
    text-decoration: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


.nav-tabs>li>a {
    line-height: 20px;
}

#content {
background: #ffffff;
filter: none;
padding: 20px 20px;
position: relative;
min-height: 100%;
}

#usr-profile{
    margin-bottom: 30px;
}

.box {
border: 2px solid #eee;
background: #fff !important;
margin-bottom: 28px;
padding-top: 0px;
padding-bottom: 0px;
}

.form-horizontal{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-actions{
    margin-bottom: -20px;
}

.calendarWidget {
	position: relative;
	margin-bottom: -4px;
	float: right;
}
.widget {
	padding: 10px;
	margin-bottom: 28px;
}

.btn-primary{
    background: #3498db;
    border-color: #3498db;
}

.btn{
    color:#fff;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}

.box-header {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px;
    background: #eee;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
}

.box-header h2 {
    float: left;
    margin-top: 0px;
    font-weight: 300;
    font-style: normal;
    
}

input{
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    
}

footer{
    min-height: 24px;
    background: #3A3A3A;
    color: #fff !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  
}
/* ====================================================================== */
@media (min-width: 1200px) {
    
    .container-fluid-full {
		overflow: hidden; 
		position: relative;
		height: 100%;
	}
        
        .container-fluid{
            overflow: hidden;
            padding: 0px;
            position:relative;
            height: 100%;
        }
    
    #content {
		width: 85.578%;
		padding: 28px;
		margin: 0px 0px;
		margin-left: 14.522% !important;
	}
		
    #side-menu {
		background: #3A3A3A;
		margin-left: 0px !important;
		position: absolute;
		height: 100%;
	}
        
     .sidebar-nav > ul{
		margin: 0px;
	}
        
        footer {
		margin: 0px 0px 0px 0px;
		padding: 10px 20px;
	}
        
}

/* Higher than 960 (desktop devices)
====================================================================== */
@media only screen and (min-width: 980px) and (max-width: 1199px){
    
    .container-fluid-full {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
        
         .container-fluid{
            padding: 0px;
        }
    
    #content {
		width: 85.578%;
		padding: 20px;
		margin: 0px;
		margin-left: 14.422% !important;
	}
        
   #side-menu {
		background: #3A3A3A;
		margin-left: 0px !important;
		position: absolute;
		height: 100%;
	}
        
        .sidebar-nav > ul{
		margin: 0px;
	}
        
        footer {
		margin: 0px;
		padding: 10px 20px;
	}
	
}.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > ul > li > a:hover {
color: #666;
}

/* Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    
    .container-fluid-full {
		overflow: hidden;
		position: relative;
		height: 100%;
	}
        
        .container-fluid{
            padding: 0px;
        }
    
    #content {
		width: 91.666%;
		padding: 22px;
		margin: 0px 0px;
		margin-left: 8.334% !important;
	}
	
        #side-menu {
		background: #3A3A3A;
		margin-left: 0px !important;
		position: absolute;
		height: 100%;
		width: 8.334% !important;
	}
        
        .nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		text-align: center;
		margin-top: -2px;	}
        
        
        .nav-collapse,
  	.nav-collapse.collapse {
            height: auto !important;
            overflow: visible !important;
            margin-left: 0px !important;
  	}
        
        .sidebar-nav > ul{
		margin: 0px;
	}
        
        footer {
		margin: 0px;
		padding: 10px 20px;
	}
}

/* All Mobile Sizes (devices and browser)
====================================================================== */
@media only screen and (max-width: 767px) {
    #content {
		overflow: hidden;
		margin: -10px 0px 0px 0px;
	}
        
        body {
		padding: 0px;
	}
        
        #side-menu{
            background: #3A3A3A;
        }
        
        .nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		margin-top: -2px;	
	}
        
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers)
====================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #content {
		padding: 5px;
	}
        body {
		padding: 0px;
	}
        
        #side-menu{
            background: #3A3A3A;
        }
        
	.nav-tabs.nav-stacked > li > a,
	.nav-tabs.nav-stacked > li > ul > li > a {
		margin-top: -2px;	
	}
        
        footer {
		padding: 10px 20px;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
    #content {
		padding: 5px;
	}
        
        body {
		padding: 0px;
	}
	
        #side-menu{
            background: #3A3A3A;
        }
        
        footer {
		padding: 10px 20px;
	}
}