﻿html, body, div, header, nav, ul, li, a { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

a { text-decoration: none; color: #007acc; }

a:hover { color: #5dbbfa; transition: linear 1s; }

h1 {
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h2 {
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

a img { outline: none; border: none; }

ul {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

ul li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;	
}
/*================END GLOBAIS*================*/

/*================Classes opcionais básicas================*/

.no-border { border: 0; }

.border-decoration {
    border-radius: 2px;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}

.border-decoration2 {
    border-radius: 2px;
    border-right: 1px solid #b6b5b5;
    border-bottom: 1px solid #b6b5b5;
    border-left: 1px solid #b6b5b5;
    border-top: 1px solid #b6b5b5;
}

.box-shadows { 
    -webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
    box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
}

.default-button {
    border-radius: 3px;
    border: 1px solid #186487;
    background: #1e8cbe;
    width: 100px;
    height: 30px;
    color: #fff;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.default-button:hover { background: #3ea8d8; font:bold; }

.col-left{
	float: left;
}

.col-right{ float: right; }

.menu-l { -webkit-font-smoothing: subpixel-antialiased; }

.menu-l li a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 2px;
    padding: 0 10px;
	color: rgba(48, 48, 47, 1);
	text-transform: uppercase;
}

.menu-l li, .menu-l li a { display: inline-block; line-height: 100%; }

.menu-l li a:hover{
	color: rgba(231, 76, 60,1.0);
        -webkit-transition: 0.5s ease-in;
        -moz-transition: 0.5s ease-in;
        -o-transition: 0.5s ease-in;
        transition: 0.5s ease-in;
}

.hero-unit {	background:rgba(231, 76, 60,1.0); }

.hero-unit h2 {
	color: #fff;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	text-align: center;
	font-weight: 500;
	line-height: 180%;
	letter-spacing: 0px;
	padding: 0;
	max-width: 800px !important;
	margin-left: auto !important;
	margin-right: auto !important;	
}

#grid h1, #grid h2{ text-transform: uppercase; }

#grid h1, #grid h2, #grid h3, #grid h4{
	color: #fff;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	text-align: center;
}

#grid img{
	position: relative;
	left:50%;
	margin-left: -72px;
}

footer {
	padding: 40px 0;
	font-weight: 400;
	font-style: normal;
	font-family: "FontinSans", sans-serif;
	/*line-height: 1.5em;*/
	letter-spacing: 0.17em;
	background: #1a1a1a;
	color: #808080;
	/*font-size: 0.875em;*/
}