.blue-border { border-color: #00acec !important;}
 
.box { margin-bottom: 20px; position: relative;}

.box-header, .blue-background { color: white; }

.box .box-header {font-size: 21px; font-weight: 200; line-height: 30px; padding: 10px 15px;
content: ""; display: table; width:100%;}

.blue-background { background-color: #00acec !important; }

.box .box-header .title { float: left !important; color: #ffff; display:block;}

.box .box-header .actions { margin-top: -3px; float: right !important; display:block;}

.box .box-content.box-double-padding { padding: 40px;}

.box-content { padding: 10px;border: 1px solid #dddddd;background: white;display: block;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055); }
